.h5 {
  color: #BF9D47;
  font-weight: bold;
}

.text-category-up {
  font-size: 70%;
  top: -.3em;
  position: relative;
}

.category {
  border-bottom: 2px solid black;
  margin: 20px 0 20px 0;
}

i {
  cursor: pointer;
  color: #BF9D47;
}

.text-center-resp .text-center-resp {
  color: #FFF;
  background-color: #ffffff17;
}
.text-center-resp img {
    width: 100%;
}

.amount {
  padding-left: 20px;
  font-weight: bold;
  color: red;
  font-size: 1.2rem;
  position:absolute;
  z-index:5;
  top:50%;
}

#link-graphics-card:target, #link-processor:target, #link-motherboard:target, #link-ram:target {
    padding-top: 4em;
}

/*  Media */
@media only screen and (max-width: 992px) {
  .text-center-resp {
    text-align: center;
  }
  .text-center-resp img {
      width: auto;
  }
  .category > div:nth-child(1){
    background-color: transparent;
  }
}
